*
{
    margin: 0;
    padding: 0;
}
.navbar
{
    margin: 0;
    background-color: #F7EFE5;
    padding-bottom: 20px;
}
.container
{
    color:#E2BFD9;
}
.dropdown-menu
{
    background-color: #C8A1E0;
}
.card
{
    margin-top: 40px;
}
.background
{
    color: #E2BFD9;
}
